<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Not found</title>
    <link href="/favicon.ico"  rel="shortcut icon" />


    <link rel="stylesheet" href="/css/404.css">

    <!-- Load an icon library -->
    <script src="https://kit.fontawesome.com/b4bd855841.js" crossorigin="anonymous" async></script>



</head>

<body>
    <main>
        <div class="row">
            <div class=" image-box">
                <img src="/images/404_2x.png" alt="light">
            </div>
            <div class="text-box">
                <div class="h-1">404</div>
                <h5>LOOKS LIKE YOU'RE LOST</h5>
                <div class="h-6">The page you are looking for is not available!</div>

                <div class="button-holder">
                    <button onclick="history.go(0)" class=""><i class="fas fa-redo"></i> RELOAD</button>
                    <button onclick="history.back()" class="  "><i class="fas fa-arrow-left"></i> GO BACK</button>
                </div>


            </div>
        </div>
    </main>


</body>

</html>